OPENAI_API_KEY=<api-key>
HF_TOKEN=<hf-token>
TAVILY_API_KEY=<api-key>
DB_URI=postgresql+psycopg://postgres:postgres@localhost:5433/crag #If using the existing setup, use the same DB URI

# Langsmith
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=<api-key>
LANGSMITH_PROJECT="crag-pdf-qna"

# OpenRouter (while development, to save costs)
OPENROUTER_API_KEY=<api-key>